<footer class="row">
    <div class="col-sm-6">
        <p>&copy; Tinkerthon 2015</p>
        <p>Tinkerthon ist eine Sammlung von Projekten von und für Kinder.</p>
    </div>
    <div class="col-sm-6">
        <ul>
            <li><a href="impressum">Impressum</a></li>
            <li><a href="kontakt">Kontakt</a></li>
        </ul>
    </div>
</footer>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
