<footer class="row">
    <div class="col-sm-6">
        <p>&copy; 2010 - 2015 Dr. Olav Schettler, Bonn // Tinkerthon</p>
        <p>Tinkerthon ist eine Sammlung von Projekten von und für Kinder.</p>
    </div>
    <div class="col-sm-6">
        <ul>
            <li><a href="/impressum">Impressum</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </div>
</footer>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/js/lity.min.js"></script>
<script src="/js/lunr.min.js"></script>
<script src="/js/search.js"></script>
<script type="template" id="result-item-template">
<h2><a href="%url%">%title%</a></h2>
<p>
    <span class="published">%date%</span>
    %content%
</p>
</script>
