<head profile="http://gmpg.org/xfn/11">
    <meta charset="utf-8">
    <title>{{ site.name }} // {{ page.title }}</title>

    <link rel="publisher" href="https://plus.google.com/112362322978930476440">
    <link rel="me" href="https://olav.net">
    <link rel="canonical" href="{{ site.url }}{{ page.url | remove: "index.html" }}">
    <link rel="alternate" type="application/rss+xml" title="Tinkerthon RSS-Feed" href="https://tinkerthon.de/rss.xml">

    <meta name="keywords" content="Kinder, Kreativität, Workshops, Maker, Elektronik, Physical Computing, Internet of things">

    <meta name="description" content="Bei Tinkerthon geht es um Kinder, Kreativität und Elektronik. Ich veranstalte Workshops zu Physical Computing und Internet of Things">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/lity.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <meta property="og:locale" content="de_DE">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Tinkerthon - Kinder, Kreativität, Elektronik">
    <meta property="og:description" content="Bei Tinkerthon geht es um Kinder, Kreativität und Elektronik. Ich veranstalte Workshops zu Physical Computing und Internet of Things">
    <meta property="og:url" content="https://tinkerthon.de">
    <meta property="og:site_name" content="Tinkerthon">

    <script>
    if (!window.location.href.match(/local/) && window.location.protocol != "https:") {
        window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    }
    </script>

    <script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"WebSite","url":"https:\/\/tinkerthon.de\/","name":"Tinkerthon"}</script>

    <script type='text/javascript'>var _merchantSettings=_merchantSettings || [];_merchantSettings.push(['AT', '1000l3R4']);(function(){var autolink=document.createElement('script');autolink.type='text/javascript';autolink.async=true; autolink.src= ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(autolink, s);})();</script>
</head>
