<div class="col-sm-3 col-xs-6">
    <div class="teaser">
        {% if include.teaser.thumbnail %}
            <div class="image">
                <a href="{{ include.teaser.url }}">
                    <img src="{{ include.teaser.thumbnail }}">
                </a>
                <h4><a href="{{ include.teaser.url }}">
                    {{ include.teaser.title }}
                </a></h4>
            </div>
        {% else %}
            <h4><a href="{{ include.teaser.url }}">
                {{ include.teaser.title }}
            </a></h4>
        {% endif %}
        <span class="published">{{ include.teaser.published }}</span>
        {{ include.teaser.excerpt }}
    </div>
</div>
