---
layout: default
---
<div class="blog-header">
    <h1 class="blog-title">{{ page.title }}</h1>
</div>

<div class="row">
    <div class="col-md-9">
        <span class="published">{{ page.published }}</span>
        <div id="content">{{ content }}</div>
    </div>
    <div class="col-md-3">
        {% include teaser.html %}

        <p style="text-align:center">- Anzeige -</p>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Tinkerthon Detailseite -->
        <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5560811060433018"
         data-ad-slot="5374774684"
         data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
